.main_layout {
  height: 100vh;
  width: 100vw;

  .header {
    display: flex;
    align-items: center;
  }
  
  .body {
    padding: 0 48px;

    .content_wrapper {
      padding: 24px 0;

      .content {
        padding: 0 24px;
        min-height: 280;
      }
    }
  }
}